In [ ]:
'''
Would be cool to plot a base and then show buys and sells with amounts on the chart.


'''

In [2]:
import pandas as pd
from functions import *
#%matplotlib inline
filepath = 'oct_binance.csv'

In [3]:
df = pd.read_csv(filepath)
df = df.rename(columns={'Date(UTC)':'Date', 'Pair':'Base', 'Realized Profit':'RealizedProfit'})
df['Fee'] = df['Fee'].str.replace(' USDT', '')
df['Fee'] = df['Fee'].str.replace(' BNB', '')
df['Amount'] = df['Amount'].str.replace(' USDT', '')
df['RealizedProfit'] = df['RealizedProfit'].replace(',','')         # i have had .str before replace, but got rid of it?
df['Amount'] = df['Amount'].str.replace(',','')
df['Base'] = df['Base'].str.replace('USDT','')
df = df.astype({'RealizedProfit': float, 'Fee': float, 'Amount': float})
df.Date = pd.to_datetime(df.Date)
pairs = df.Base.unique()

In [9]:
df.head(20)
# how many trades do I make on average between entry and exit?

# how do I count the average number of unique dates between one symbol that has
# a realized profit to the next one on the same symbol with realized profit?


# df_grouped = df.groupby
# df_grouped
len(pairs)

53

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21261 entries, 0 to 21260
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            21261 non-null  datetime64[ns]
 1   Base            21261 non-null  object
 2   Side            21261 non-null  object
 3   Price           21261 non-null  float64
 4   Quantity        21261 non-null  float64
 5   Amount          21261 non-null  float64
 6   Fee             21261 non-null  float64
 7   RealizedProfit  21261 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 1.3+ MB

In [76]:
df.describe()

              Price       Quantity        Amount           Fee  RealizedProfit
count  29049.000000   29049.000000  29049.000000  29049.000000    29049.000000
mean       0.569025    1691.652401     60.812931     -0.018495        0.085101
std        1.183540    7760.199119    124.226415      0.050614        9.612223
min        0.002053       0.100000      0.011955     -3.246122    -1143.584730
25%        0.030706      59.000000     35.949000     -0.010635        0.000000
50%        0.104470     377.000000     40.872810     -0.008383        0.000000
75%        0.659800    1334.000000     45.898200     -0.007352        0.000000
max       13.098500  639446.000000   8115.304600     -0.000002       74.949462

In [8]:
# total dollar amount traded
df.Amount.sum()

0.8469512258100808

In [4]:
# average expectancy per round trip trade
df.RealizedProfit.unique().mean()

0.8469512258100808

In [5]:
# biggest winner
df.RealizedProfit.unique().max()

135.35243

In [6]:
# biggest loser
df.RealizedProfit.unique().min()

-493.19448532

In [7]:
# how many trades
DCA_and_closed_trades(df)

closed trade quantity: 4444
total trade quantity: 21261

In [13]:
DCA_and_closed_trades(df)
print('total dollar amount traded: $', df.Amount.sum())
print('average expectancy per round trip trade: $', df.RealizedProfit.unique().mean())
print(' biggest winner: $', df.RealizedProfit.unique().max())
print(' biggest loser: $', df.RealizedProfit.unique().min())

closed trade quantity: 4444
total trade quantity: 21261
total dollar amount traded: $ 2150306.066525
average expectancy per round trip trade: $ 0.8469512258100808
 biggest winner: $ 135.35243
 biggest loser: $ -493.19448532

In [55]:
df.where(df.Base == 'ALPHA')

,Date,Base,Side,Price,Quantity,Amount,Fee,RealizedProfit
0,2021-04-13 21:27:15,ALPHA,SELL,1.53724,13.0,19.98412,-0.007994,0.00000
1,2021-04-13 21:27:15,ALPHA,SELL,1.53714,3.0,4.61142,-0.001845,0.00000
2,2021-04-13 21:29:27,ALPHA,SELL,1.54096,16.0,24.65536,-0.004931,0.00000
3,2021-04-13 21:59:44,ALPHA,BUY,1.53027,32.0,48.96864,-0.019587,0.28226
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
29044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.tail()

,Date,Base,Side,Price,Quantity,Amount,Fee,RealizedProfit
29044,2021-07-01 00:07:57,XLM,BUY,0.27936,282.0,78.77952,-0.031512,1.06314
29045,2021-07-01 00:09:32,AKRO,BUY,0.01717,2323.0,39.88591,-0.007977,0.00000
29046,2021-07-01 00:09:51,AKRO,BUY,0.01716,2324.0,39.87984,-0.007976,0.00000
29047,2021-07-01 00:09:52,XLM,BUY,0.27861,143.0,39.84123,-0.007968,0.00000
29048,2021-07-01 00:09:52,TRX,BUY,0.06733,592.0,39.85936,-0.007972,0.00000

In [9]:
df['Fee'][-5:].sum()

-0.06340505